body {
  color: white;
  background: rgb(40, 44, 52);
  text-align: center;
}
* {
  box-sizing: border-box;
}
button:disabled {
  color: black;
}
.selector {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  margin-top: 25vh;
}
.game-title {
  text-align: center;
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: 10vh;
  font-family: "Noto Sans", sans-serif;
  color: rgb(97, 218, 251);
}
.selector-buttons {
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 2vh;
  text-align: center;
  font-size: 5vh;
  font-family: "Noto Sans", sans-serif;
}
.sm-button {
  margin: 0.5vh;
  font-size: 100%;
  text-align: center;
  color: white;
  background: black;
  opacity: 1;
}
.sm-button:hover {
  opacity: 0.5;
  cursor: pointer;
}
.reset-button:hover {
  cursor: pointer;
  background: rgb(217, 83, 79);
  border: 0.1vh solid whitesmoke;
}
.playAgain-button:hover {
  cursor: pointer;
  background: rgb(97, 218, 251);
  border: 0.1vh solid whitesmoke;
}
.app {
  display: grid;
  grid-template-rows: auto, auto, auto, auto, auto;
  margin-top: 10vh;
}
.app-game-title {
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: 8vh;
  font-family: "Noto Sans", sans-serif;
  color: rgb(97, 218, 251);
}
.scoreboard {
  font-size: 3vh;
  font-family: "Noto Sans", sans-serif;
  grid-row-start: 2;
  grid-row-end: 3;
}
.player-integer {
  margin: 1vh;
}
.computer-integer {
  margin: 1vh;
}
.playButtons-parent {
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vh;
}

.reset-button {
  width: 8em;
  font-size: 2vh;
  font-family: "Noto Sans", sans-serif;
  cursor: pointer;
  margin-left: 0.8vh;
  border: solid 0.2vh rgb(97, 218, 251);
}
.playAgain-button {
  width: 8em;
  font-size: 2vh;
  font-family: "Noto Sans", sans-serif;
  cursor: pointer;
  border: solid 0.2vh rgb(97, 218, 251);
}
.board-wrapper {
  display: flex;
  flex-direction: row;
  justify-self: center;
  width: 40vh;
  height: 40vh;
}
.game-board {
  grid-row-start: 4;
  grid-row-end: 5;
  display: grid;
  grid-gap: 1px;
  grid-template-rows: minmax(200px, 1fr), minmax(200px, 1fr), minmax(200px, 1fr);
  grid-template-columns: minmax(200px, 1fr), minmax(200px, 1fr),
    minmax(200px, 1fr);
  min-width: 100%;
  min-height: 100%;
}
.square0 {
  grid-area: 1/1 / span 1 / span 1;
  text-align: center;

  font-size: 1em;
  border-color: rgb(97, 218, 251);
  font-family: "Noto Sans", sans-serif;
}
.square0-lit {
  grid-area: 1/1 / span 1 / span 1;
  text-align: center;

  font-size: 1em;
  border-color: rgb(97, 218, 251);
  font-family: "Noto Sans", sans-serif;
  background-color: rgb(97, 218, 251);
}
.square1 {
  grid-area: 1/2 / span 1 / span 1;
  text-align: center;

  font-size: 1em;
  border-color: rgb(97, 218, 251);
  font-family: "Noto Sans", sans-serif;
}
.square1-lit {
  grid-area: 1/2 / span 1 / span 1;
  text-align: center;

  font-size: 1em;
  border-color: rgb(97, 218, 251);
  font-family: "Noto Sans", sans-serif;
  background-color: rgb(97, 218, 251);
}
.square2 {
  grid-area: 1/3 / span 1 / span 1;
  text-align: center;

  font-size: 1em;
  border-color: rgb(97, 218, 251);
  font-family: "Noto Sans", sans-serif;
}
.square2-lit {
  grid-area: 1/3 / span 1 / span 1;
  text-align: center;

  font-size: 1em;
  border-color: rgb(97, 218, 251);
  font-family: "Noto Sans", sans-serif;
  background-color: rgb(97, 218, 251);
}
.square3 {
  grid-area: 2/1 / span 1 / span 1;
  text-align: center;

  font-size: 1em;
  border-color: rgb(97, 218, 251);
  font-family: "Noto Sans", sans-serif;
}
.square3-lit {
  grid-area: 2/1 / span 1 / span 1;
  text-align: center;

  font-size: 1em;
  border-color: rgb(97, 218, 251);
  font-family: "Noto Sans", sans-serif;
  background-color: rgb(97, 218, 251);
}
.square4 {
  grid-area: 2/2 / span 1 / span 1;
  text-align: center;

  font-size: 1em;
  border-color: rgb(97, 218, 251);
  font-family: "Noto Sans", sans-serif;
}
.square4-lit {
  grid-area: 2/2 / span 1 / span 1;
  text-align: center;

  font-size: 1em;
  border-color: rgb(97, 218, 251);
  font-family: "Noto Sans", sans-serif;
  background-color: rgb(97, 218, 251);
}
.square5 {
  grid-area: 2/3 / span 1 / span 1;
  text-align: center;

  font-size: 1em;
  border-color: rgb(97, 218, 251);
  font-family: "Noto Sans", sans-serif;
}
.square5-lit {
  grid-area: 2/3 / span 1 / span 1;
  text-align: center;

  font-size: 1em;
  border-color: rgb(97, 218, 251);
  font-family: "Noto Sans", sans-serif;
  background-color: rgb(97, 218, 251);
}
.square6 {
  grid-area: 3/1 / span 1 / span 1;
  text-align: center;

  font-size: 1em;
  border-color: rgb(97, 218, 251);
  font-family: "Noto Sans", sans-serif;
}
.square6-lit {
  grid-area: 3/1 / span 1 / span 1;
  text-align: center;

  font-size: 1em;
  border-color: rgb(97, 218, 251);
  font-family: "Noto Sans", sans-serif;
  background-color: rgb(97, 218, 251);
}
.square7 {
  grid-area: 3/2 / span 1 / span 1;
  text-align: center;

  font-size: 1em;
  border-color: rgb(97, 218, 251);
  font-family: "Noto Sans", sans-serif;
}
.square7-lit {
  grid-area: 3/2 / span 1 / span 1;
  text-align: center;

  font-size: 1em;
  border-color: rgb(97, 218, 251);
  font-family: "Noto Sans", sans-serif;
  background-color: rgb(97, 218, 251);
}
.square8 {
  grid-area: 3/3 / span 1 / span 1;
  text-align: center;

  font-size: 1em;
  border-color: rgb(97, 218, 251);
  font-family: "Noto Sans", sans-serif;
}
.square8-lit {
  grid-area: 3/3 / span 1 / span 1;
  text-align: center;

  font-size: 1em;
  border-color: rgb(97, 218, 251);
  font-family: "Noto Sans", sans-serif;
  background-color: rgb(97, 218, 251);
}

.footer {
  grid-row-start: 5;
  grid-row-end: 6;
  margin-top: 2vh;
  font-size: 0.8vw;
  font-family: "Noto Sans", sans-serif;
  color: white;
  cursor: pointer;
}
